.k2-page {
    p {
        line-height: 1.6;
        font-size: 12px;
        color: #464646;
    }

    h2 {
        font-size: 18px;
        color: #ff9900;
    }

    h3 {
        font-size: 18px;
        color: #990000;
    }
}

.breadcrumbs {
    width: 100%;
    margin: 0 0 15px;
    border: 1px solid #EAEAEA;
    padding: 8px 15px;

    li {
        padding: 0 8px 0 0;
        color: #464646;
        display: inline-block;
        font-size: 12px;

        a {
            color: #464646;
            padding: 0 15px 0 0;

            &:hover {
                color: $primary_color;
            }
        }

        &:first-child {
            position: relative;
            margin-right: 10px;

            &:before {
                content: "\f101";
                font-family: "FontAwesome";
                color: #525252;
                font-weight: 900;
                position: absolute;
                right: 0;
            }
        }
    }
}